ANIMATION_API_PORT=8010
ANIMATION_API_TOKEN=change-me
ANIMATION_BACKEND=trt
ANIMATION_TRT_RUNTIME=local
ANIMATION_TRT_PRECISION=fp16
ANIMATION_WARMUP_ENABLED=1
ANIMATION_IDLE_VIDEO=inputs/idlevid.mp4
ANIMATION_AUDIO_MOTION_STRIDE=1
ANIMATION_RENDER_BATCH_SIZE=4
ANIMATION_TRT_ENGINE_BATCH_SIZE=4
ANIMATION_VIDEO_ENCODER=auto
ANIMATION_WEBRTC_ICE_SERVERS_JSON=[]
ANIMATION_WEBRTC_ICE_TRANSPORT_POLICY=all
