aiortc==1.14.0
av
colorama
fastapi
ffmpeg-python
huggingface_hub[cli]
insightface
mediapipe
omegaconf
onnx
onnxruntime
opencv-python-headless
pillow
pycuda
python-multipart
safetensors
scikit-image
torchgeometry
transformers==4.40.2
tqdm
uvicorn[standard]
